<p-treeTable [value]="conditions" [rowHover]="true" sortField="col1" [(selection)]="selectedConditions"
             [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100]"
             [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0" [globalFilterFields]="['col1', 'col2', 'col3', 'col4', 'col5', 'col6']" #tt
             [autoLayout]="true">

  <ng-template pTemplate="caption">
    <div class="table-header">
      <span></span>
      <span>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-mr-3"
                    label="Delete selected" icon="pi pi-trash"
                    (click)="confirmDelete($event, undefined)"></button>
            <p-confirmPopup key="deleteSelected"></p-confirmPopup>
            <button pButton type="button" class="p-button-raised p-button-rounded p-mr-3" label="Add Condition"
                    icon="pi pi-plus"
                    (click)="add.emit()"></button>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="tt.filterGlobal($event.target.value, 'contains')"
                       placeholder="Global Search"/>
            </span>
          </span>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="7">
        No Conditions found
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 7rem">
        <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
      </th>
      <th style="width: 6rem" ttSortableColumn="col1">
        ID
        <p-treeTableSortIcon field="col1"></p-treeTableSortIcon>
      </th>
      <th ttSortableColumn="col2">
        Program name
        <p-treeTableSortIcon field="col2"></p-treeTableSortIcon>
      </th>
      <th ttSortableColumn="col3">
        Name
        <p-treeTableSortIcon field="col3"></p-treeTableSortIcon>
      </th>
      <th  ttSortableColumn="col4">
        Type
        <p-treeTableSortIcon field="col4"></p-treeTableSortIcon>
      </th>
      <th ttSortableColumn="col5"  colspan="2">
        Parameter
        <p-treeTableSortIcon field="col5"></p-treeTableSortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ngClass]="{'inc-subheader': rowData.type == 'header'}">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        <p-treeTableCheckbox [value]="rowNode" *ngIf="rowData.type == 'condition'"></p-treeTableCheckbox>
      </td>
      <td>{{rowData.col1}}</td>
      <td *ngIf="rowData.type === 'condition'">
        <span *ngIf="rowData.col2 === null">- Global -</span>
        <span *ngIf="rowData.col2 !== null">{{rowData.col2}}</span>
      </td>
      <td *ngIf="rowData.type !== 'condition'">{{rowData.col2}}</td>
      <td>{{rowData.col3}}</td>
      <td>{{rowData.col4}}</td>
      <td>{{rowData.col5}}</td>
      <td>{{rowData.col6}}</td>
      <td>
        <div *ngIf="!rowData.header && rowData.controls">
          <button pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-ml-1" (click)="editCondition(rowData)"
                  icon="pi pi-pencil"></button>
          <p-confirmPopup [key]="rowNode"></p-confirmPopup>
          <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-ml-1" icon="pi pi-trash"
                  (click)="confirmDelete($event, rowNode)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
