<form #grantForm="ngForm" (ngSubmit)="createOrUpdateGrant()">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-4">
      <p-dropdown *ngIf="showDropdown" [disabled]="programId != null" [options]="groupedProgramIds"
                  [(ngModel)]="selectedProgram" name="programId" optionLabel="id"
                  placeholder="Select a Program" [group]="grouped"
                  (onChange)="selectedProgramChanged(grantIdControl)">
        <ng-template let-group pTemplate="group">
          <div class="p-d-flex p-ai-center">
            <i [class]="group.icon + ' p-mr-2'"></i>
            <span>{{group.label}}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field p-col-8"></div>

    <div class="p-field p-col-4">
        <span class="p-float-label label-sized" style="margin-top: 1.6rem">
          <input id="id" name="id" type="text" pInputText [(ngModel)]="grant.id" required incUniqueGrantId
                 [existingGrants]="selectedProgram.grants" tabindex="1" [disabled]="editMode" #grantIdControl="ngModel">
          <label for="id">Grant ID</label>
        </span>
    </div>

    <div class="p-field p-col-4">
          <span class="p-float-label label-sized" style="margin-top: 1.6rem">
            <p-inputNumber [(ngModel)]="grant.quantity" name="quantity" [showButtons]="true" inputId="quantity"
                           required locale="de-DE" tabindex="6" min="1"></p-inputNumber>
            <label for="quantity">Quantity</label>
          </span>
    </div>

    <div class="p-field p-col-4">
        <span class="p-float-label label-sized" style="margin-top: 1.6rem">
          <p-calendar [(ngModel)]="grant.grantDate" name="grantDate" [showIcon]="true" inputId="grantDate"
                      dateFormat="dd/mm/yy"
                      showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" required
                      tabindex="2"></p-calendar>
          <label for="grantDate">Grant date</label>
        </span>
    </div>

    <div class="p-field p-col-4">
        <span class="p-float-label label-sized" style="margin-top: 1.6rem">
          <p-calendar [(ngModel)]="grant.waitUntil" name="waitUntil" [showIcon]="true" inputId="waitUntil"
                      dateFormat="dd/mm/yy"
                      showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" required
                      tabindex="3"></p-calendar>
          <label for="waitUntil">Wait Until</label>
        </span>
    </div>

    <div class="p-field p-col-4">
          <span class="p-float-label label-sized" style="margin-top: 1.6rem">
          <p-calendar [(ngModel)]="grant.endDate" name="endDate" [showIcon]="true" inputId="endDate"
                      dateFormat="dd/mm/yy"
                      showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" required
                      tabindex="4"></p-calendar>
          <label for="endDate">End date</label>
        </span>
    </div>

    <div class="p-field p-col-4">
      <div class="p-inputgroup" style="margin-top: 1.6rem">
          <span class="p-float-label label-sized">
            <span class="p-inputgroup-addon"><p-checkbox #plCheck></p-checkbox></span>
            <p-calendar [disabled]="!plCheck.checked" [(ngModel)]="grant.plDate" name="plDate" [showIcon]="true"
                        inputId="plDate" dateFormat="dd/mm/yy"
                        showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" tabindex="5"></p-calendar>
            <label for="plDate">P&L</label>
          </span>
      </div>
    </div>

    <div class="p-field p-col-12">
      <p-pickList [source]="availableConditions" [target]="grant.conditions" styleClass="nopickers height200"
                  sourceHeader="Available Conditions" targetHeader="Grant Conditions" dragdrop="true">
        <ng-template let-condition pTemplate="item">
          <p>{{condition.conditionType}}</p>
        </ng-template>
      </p-pickList>
    </div>
  </div>

  <button pButton class="p-button p-mt-3" type="submit" [disabled]="!grantForm.valid && !saving"
          label="{{editMode ? 'Save' : 'Create'}}" [icon]="saving ? 'pi pi-spinner' : 'pi pi-save'"
          tabindex="7"></button>
</form>
