<form #grantForm="ngForm" (ngSubmit)="createOrUpdateGrant()">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-4">
      <p-dropdown *ngIf="showDropdown" [disabled]="editMode" [options]="groupedPrograms"
                  [(ngModel)]="selectedProgram" name="programId" optionLabel="name"
                  placeholder="Select a Program" [group]="grouped"
                  (onChange)="selectedProgramChanged(grantIdControl)">
        <ng-template let-group pTemplate="group">
          <div class="p-d-flex p-ai-center">
            <i [class]="group.icon + ' p-mr-2'"></i>
            <span>{{group.label}}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field p-col-8"></div>

    <div class="p-field p-col-4">
        <span class="p-float-label label-sized" style="margin-top: 1.6rem">
          <input id="name" name="name" type="name" pInputText [(ngModel)]="grant.name" required
                 tabindex="1" [disabled]="editMode" #grantIdControl="ngModel">
          <label for="name">Grant name</label>
        </span>
    </div>

    <div class="p-field p-col-4">
          <span class="p-float-label label-sized" style="margin-top: 1.6rem">
            <p-inputNumber [(ngModel)]="grant.quantity" name="quantity" [showButtons]="true" inputId="quantity"
                           required tabindex="2" min="1"></p-inputNumber>
            <label for="quantity">Quantity</label>
          </span>
    </div>

    <div class="p-field p-col-4">
        <span class="p-float-label label-sized" style="margin-top: 1.6rem">
          <p-calendar [(ngModel)]="grant.grantDate" name="grantDate" [showIcon]="true" inputId="grantDate"
                      dateFormat="dd/mm/yy"
                      showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" required
                      tabindex="3"></p-calendar>
          <label for="grantDate">Grant date</label>
        </span>
    </div>

    <div class="p-field p-col-4">
        <span class="p-float-label label-sized" style="margin-top: 1.6rem">
          <p-calendar [(ngModel)]="grant.waitUntil" name="waitUntil" [showIcon]="true" inputId="waitUntil"
                      dateFormat="dd/mm/yy"
                      showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" required
                      tabindex="4"></p-calendar>
          <label for="waitUntil">Wait Until</label>
        </span>
    </div>

    <div class="p-field p-col-4">
          <span class="p-float-label label-sized" style="margin-top: 1.6rem">
          <p-calendar [(ngModel)]="grant.endDate" name="endDate" [showIcon]="true" inputId="endDate"
                      dateFormat="dd/mm/yy"
                      showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" required
                      tabindex="5"></p-calendar>
          <label for="endDate">End date</label>
        </span>
    </div>

    <div class="p-field p-col-4">
      <div class="p-inputgroup" style="margin-top: 1.6rem">
          <span class="p-float-label label-sized">
            <span class="p-inputgroup-addon"><p-checkbox #plCheck></p-checkbox></span>
            <p-calendar [disabled]="!plCheck.checked" [(ngModel)]="grant.plDate" name="plDate" [showIcon]="true"
                        inputId="plDate" dateFormat="dd/mm/yy"
                        showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" tabindex="6"></p-calendar>
            <label for="plDate">P&L</label>
          </span>
      </div>
    </div>

    <div class="p-field p-col-12">
      <p-blockUI [target]="block" [blocked]="loadingConditions">
        <p-progressSpinner></p-progressSpinner>
      </p-blockUI>
      <inc-blockable-container #block>
        <p-pickList [source]="availableConditions" [target]="grant.conditions" styleClass="nopickers"
                    (onMoveToTarget)="filterAvailableConditions($event.items)"
                    (onMoveToSource)="reAddAvailableConditions($event.items)" filterBy="name"
                    sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
                    sourceHeader="Available Conditions" targetHeader="Grant Conditions" dragdrop="true" #pickList
                    [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
          <ng-template let-condition pTemplate="item">
            <p>{{condition.name}} ({{condition.conditionType}})</p>
          </ng-template>
        </p-pickList>
      </inc-blockable-container>
    </div>
  </div>

  <div class="p-d-flex p-jc-between">
    <span></span>
    <button pButton class="p-button p-mt-3" type="submit" [disabled]="!grantForm.valid && !saving"
            label="{{editMode ? 'Save' : 'Create'}}" [icon]="saving ? 'pi pi-spinner' : 'pi pi-save'"
            tabindex="7"></button>
  </div>
</form>
