.short-input {
  display: inline-block;
  width: 65%;
  vertical-align: text-bottom;
}
.short-button {
  display: inline-block;
  width: 30%;
  margin-left: 5px;
}

p-dropdown div, p-inputNumber input {
  width: 100%;
}
