<p-blockUI [blocked]="loading" [target]="card"><p-progressSpinner></p-progressSpinner></p-blockUI>
<p-card header="See all Programs, Grants and Conditions in one spot" #card>
  <p-messages></p-messages>
  <p-treeTable [value]="programTreeNodes" [rowHover]="true">

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="5">
          No data found. Add your first Program to fill this Table!
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Program name</th>
        <th>Program type</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ngClass]="{'inc-subheader': rowData.type == 'header'}">
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.col1}}</td>
        <td>{{rowData.col2}}</td>
        <td>{{rowData.col3}}<span *ngIf="rowData.type === 'paramRel'"> %</span></td>
        <td>{{rowData.col4}}<span *ngIf="rowData.type.startsWith('param')"> %</span></td>
        <td>
          <div *ngIf="rowData.type !== 'header'">
            <button *ngIf="rowData.type === 'program'" pButton type="button"
                    class="p-button-raised p-button-rounded" icon="pi pi-clone" (click)="copyProgramOp.hide(); toCopy = rowData;
                     copyProgramOp.show($event)"></button>
            <button *ngIf="rowData.type === 'grant'" pButton type="button"
                    class="p-button-raised p-button-rounded" icon="pi pi-clone" (click)="copyGrantOp.hide(); toCopy = rowData;
                     copyGrantOp.show($event)"></button>
            <button *ngIf="rowData.type === 'program' || rowData.type === 'grant' || rowData.type === 'condition'"
                    pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-ml-1" (click)="editEntity(rowData)"
                  icon="pi pi-pencil"></button>
            <p-confirmPopup [key]="rowNode"></p-confirmPopup>
            <button *ngIf="rowData.type === 'program' || rowData.type === 'grant'" pButton type="button"
                    class="p-button-raised p-button-rounded p-button-danger p-ml-1" icon="pi pi-trash"
                    (click)="confirmDelete($event, rowNode, rowData)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>


  <p-overlayPanel #copyProgramOp showCloseIcon=true>
    <ng-template pTemplate>
      <form #form="ngForm" (ngSubmit)="copyEntity(form, copyProgramOp)">
        <div class="p-mt-4"></div>
        <span class="p-float-label">
        <input id="copyNameProgram" name="copyNameProgram" type="text" pInputText ngModel required autofocus>
        <label for="copyNameProgram">New Program name</label>
      </span>
        <button pButton type="submit" label="Copy" [disabled]="!form.valid" iconPos="right"
                class="pull-right p-mt-2 p-mb-2" style="width: 100px">
          <i *ngIf="copying" class="pi pi-spin pi-spinner p-mr-1"></i>
        </button>
      </form>
    </ng-template>
  </p-overlayPanel>
  <p-overlayPanel #copyGrantOp showCloseIcon=true>
    <ng-template pTemplate>
      <form #form="ngForm" (ngSubmit)="copyEntity(form, copyGrantOp)">
        <div class="p-mt-4"></div>
        <span class="p-float-label">
        <input id="copyNameGrant" name="copyNameGrant" type="text" pInputText ngModel required autofocus>
        <label for="copyNameGrant">New Grant name</label>
      </span>
        <button pButton type="submit" label="Copy" [disabled]="!form.valid" iconPos="right"
                class="pull-right p-mt-2 p-mb-2" style="width: 100px">
          <i *ngIf="copying" class="pi pi-spin pi-spinner p-mr-1"></i>
        </button>
      </form>
    </ng-template>
  </p-overlayPanel>
</p-card>
