<p-blockUI [blocked]="loading" [target]="card"><p-progressSpinner></p-progressSpinner></p-blockUI>
<p-card header="See all Programs, Grants and Conditions on one spot" #card>
  <p-messages></p-messages>
  <p-treeTable [value]="programTreeNodes" [rowHover]="true">

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="5">
          No data found. Add your first Program to fill this Table!
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Program ID</th>
        <th>Program Type</th>
        <th></th>
        <th></th>
        <th>Controls</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ngClass]="{'inc-subheader': rowData.type == 'header'}">
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.col1}}</td>
        <td>{{rowData.col2}}</td>
        <td>{{rowData.col3}}</td>
        <td>{{rowData.col4}}</td>
        <td>
          <div *ngIf="!rowData.header && rowData.controls">
            <button *ngIf="rowData.type == 'program'" pButton type="button"
                    class="p-button-raised p-button-rounded" icon="pi pi-clone" (click)="idToCopy = rowData.col1;
                     opProgram.show($event)"></button>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-ml-1" (click)="editEntity(rowData)"
                  icon="pi pi-pencil"></button>
            <p-confirmPopup [key]="rowNode"></p-confirmPopup>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-ml-1" icon="pi pi-trash"
                    (click)="confirmDelete($event, rowNode, rowData)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>


  <p-overlayPanel #opProgram showCloseIcon=true>
    <ng-template pTemplate>
      <form #copyForm="ngForm" (ngSubmit)="copyProgram(copyForm, opProgram)">
        <div class="p-mt-4"></div>
        <span class="p-float-label">
        <input id="copyId" name="copyId" type="text" pInputText ngModel required autofocus>
        <label for="copyId">New Program ID</label>
      </span>
        <button pButton type="submit" label="Copy" [disabled]="!copyForm.valid" iconPos="right"
                class="pull-right p-mt-2 p-mb-2" style="width: 100px">
          <i *ngIf="copying" class="pi pi-spinner p-mr-1"></i>
        </button>
      </form>
    </ng-template>
  </p-overlayPanel>
</p-card>
