<p-table styleClass="p-mb-3" [value]="grants" [(selection)]="selectedGrants"
         dataKey="id" [rowHover]="true"
         [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100]"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0" [globalFilterFields]="['name', 'grantDate', 'waitUntil', 'endDate', 'quantity']"
         sortField="id" #dt>

  <ng-template pTemplate="caption">
    <div class="table-header">
      <span></span>
      <span>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-mr-3"
                    label="Delete selected" icon="pi pi-trash"
                    (click)="confirmDelete($event, undefined)"></button>
            <p-confirmPopup key="deleteSelected"></p-confirmPopup>
            <button pButton type="button" class="p-button-raised p-button-rounded p-mr-3" label="Add Grant"
                    icon="pi pi-plus"
                    (click)="add.emit()"></button>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                       placeholder="Global Search"/>
            </span>
          </span>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="7">
        No Grants found
      </td>
    </tr>
  </ng-template>


  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="programId" *ngIf="showProgramName">
        <div class="p-d-flex p-jc-between p-ai-center">
          Program name
          <p-sortIcon field="programId"></p-sortIcon>
          <p-columnFilter type="text" field="programId" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="id">
        <div class="p-d-flex p-jc-between p-ai-center">
          Name
          <p-sortIcon field="name"></p-sortIcon>
          <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="grantDate">
        <div class="p-d-flex p-jc-between p-ai-center">
          Grant Date
          <p-sortIcon field="grantDate"></p-sortIcon>
          <p-columnFilter type="date" field="grantDate" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="waitUntil">
        <div class="p-d-flex p-jc-between p-ai-center">
          Wait Until
          <p-sortIcon field="waitUntil"></p-sortIcon>
          <p-columnFilter type="date" field="waitUntil" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="endDate">
        <div class="p-d-flex p-jc-between p-ai-center">
          End Date
          <p-sortIcon field="endDate"></p-sortIcon>
          <p-columnFilter type="date" field="endDate" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="quantity">
        <div class="p-d-flex p-jc-between p-ai-center">
          Quantiy
          <p-sortIcon field="quantity"></p-sortIcon>
          <p-columnFilter type="numeric" field="quantity" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-grant>
    <tr class="p-selectable-row">
      <td>
        <p-tableCheckbox [value]="grant"></p-tableCheckbox>
      </td>
      <td *ngIf="showProgramName">
        {{grant.programName}}
      </td>
      <td>
        {{grant.name}}
      </td>
      <td>
        {{grant.grantDate | date: 'dd/MM/yyyy'}}
      </td>
      <td>
        {{grant.waitUntil | date: 'dd/MM/yyyy'}}
      </td>
      <td>
        {{grant.endDate | date: 'dd/MM/yyyy'}}
      </td>
      <td>
        {{grant.quantity}}
      </td>
      <td>
        <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-clone"
                (click)="copyOverlayPanel.hide(); grantToCopy = grant; copyOverlayPanel.show($event)"></button>
        <button pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-ml-1"
                (click)="edit.emit(grant)"
                icon="pi pi-pencil"></button>
        <p-confirmPopup [key]="grant.getKey()"></p-confirmPopup>
        <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-ml-1"
                icon="pi pi-trash" (click)="confirmDelete($event, grant)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-overlayPanel #copyOverlayPanel showCloseIcon=true>
  <ng-template pTemplate>
    <form #copyForm="ngForm" (ngSubmit)="copyGrant(copyForm, copyOverlayPanel)">
      <div class="p-mt-4"></div>
      <span class="p-float-label">
        <input id="copyId" name="copyId" type="text" pInputText ngModel required autofocus>
        <label for="copyId">New Grant ID</label>
      </span>
      <button pButton type="submit" label="Copy" [disabled]="!copyForm.valid" iconPos="right"
              class="pull-right p-mt-2 p-mb-2">
      </button>
    </form>
  </ng-template>
</p-overlayPanel>
