<p-blockUI [blocked]="this.loading" [target]="card">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-card [header]="this.loading ? 'Loading ...' : this.editMode ? 'Edit Condition' : 'New Condition'" #card>
  <form class="form" (ngSubmit)="submitCondition(conditionForm)" #conditionForm="ngForm">
    <div class="p-fluid p-formgrid p-grid">

      <div class="p-field p-col-4">
        <span class="p-float-label label-sized" style="margin-top: 1.7rem">
          <input id="name" name="name" type="text" pInputText [(ngModel)]="condition.name" required tabindex="1">
          <label for="name">Name</label>
        </span>
      </div>

      <div class="p-field p-col-4">
        <label for="conditionType">Condition Type</label>
        <p-dropdown [options]="conditionTypeEnum | keyvalue" required
                    [(ngModel)]="selectedConditionType" name="conditionType" optionLabel="value" inputId="conditionType"
                    placeholder="Select a Condition Type" [group]="grouped"
                    (onChange)="selectedConditionTypeChanged()">
        </p-dropdown>
      </div>

      <div class="p-field p-col-4">
        <label for="program">Program</label>
        <p-dropdown [options]="groupedPrograms" required
                    [(ngModel)]="selectedProgram" name="program" optionLabel="name" inputId="program"
                    placeholder="Select a Program" [group]="grouped"
                    (onChange)="selectedProgramChanged()">
          <ng-template let-group pTemplate="group">
            <div class="p-d-flex p-ai-center">
              <i [class]="group.icon + ' p-mr-2'"></i>
              <span>{{group.label}}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <inc-magic-expander #additionalFields [(open)]="showAdditionalFields">
      <div *ngIf="condition.conditionType === 'Cap'" class="p-field p-col-4 p-p-0">
        <span class="p-float-label label-sized" style="margin-top: 1.8rem">
          <input id="cap" name="cap" type="text" pInputText [(ngModel)]="condition.cap" required tabindex="1">
          <label for="name">Cap</label>
          <span class="tooltip" pTooltip="Maximum cashflow per instrument">i</span>
        </span>
      </div>

      <div *ngIf="condition.conditionType === 'Market absolute'">
        <div class="p-fluid p-formgrid p-grid p-mt-3 p-p-0">
          <div class="p-field p-col-6">
            <p-table [value]="condition.marketAbsConditionParameters" sortField="absValue" autoLayout>
              <ng-template pTemplate="caption">
                <div class="table-header">
                  <span>Additional parameters for Market-absolute conditions</span>
                  <button pButton type="button"
                          (click)="addParameter(condition)"
                          class="p-button-rounded p-button-icon-only" icon="pi pi-plus"></button>
                </div>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="3">
                    No parameters defined
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="absValue">
                    Absolute Value
                    <span class="tooltip" pTooltip="Absolute price to reach">i</span>
                    <p-sortIcon field="absValue"></p-sortIcon>
                  </th>
                  <th pSortableColumn="grantFraction">
                    Grant fraction (%)
                    <span class="tooltip" pTooltip="Fraction of instruments available, if absolute value is reached">i</span>
                    <p-sortIcon field="grantFraction"></p-sortIcon>
                  </th>
                  <th style="width: 5rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-parameter>
                <tr>
                  <td pEditableColumn >
                    <input pInputText type="number" incUniqueParameter [parameterList]="condition.marketAbsConditionParameters"
                           placeholder="absolute value" [(ngModel)]="parameter.absValue" name="absValue" required>
                  </td>
                  <td pEditableColumn>
                    <input pInputText type="number" placeholder="grantFraction" required [(ngModel)]="parameter.grantFraction" name="grantFraction">
                  </td>
                  <td><button type="button" pButton label="" class="p-button-danger p-button-rounded p-button-icon-only" icon="pi pi-times"
                              (click)="removeParameter(parameter)"></button></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

      <div *ngIf="condition.conditionType === 'Market relative'">
        <div class="p-fluid p-formgrid p-grid p-mt-3" style="width: 100%">
          <div class="p-field p-col-6 p-p-0">
            <p-table [value]="condition.marketRelConditionParameters" sortField="absValue" autoLayout>
              <ng-template pTemplate="caption">
                <div class="table-header">
                  <span>Additional parameters for Market-relative conditions</span>
                  <button pButton type="button"
                          (click)="addParameter(condition)"
                          class="p-button-rounded p-button-icon-only" icon="pi pi-plus"></button>
                </div>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="3">
                    No parameters defined
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="relValue">
                    Relative Value (%)
                    <span class="tooltip" pTooltip="Relative price to reach">i</span>
                    <p-sortIcon field="relValue"></p-sortIcon>
                  </th>
                  <th pSortableColumn="grantFraction">
                    Grant fraction (%)
                    <span class="tooltip" pTooltip="Fraction of instruments available, if relative value is reached">i</span>
                    <p-sortIcon field="grantFraction"></p-sortIcon>
                  </th>
                  <th style="width: 5rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-parameter>
                <tr>
                  <td pEditableColumn >
                    <input pInputText type="number"  incUniqueParameter [parameterList]="condition.marketRelConditionParameters"
                           placeholder="relative value" [(ngModel)]="parameter.relValue" name="relValue" required>
                  </td>
                  <td pEditableColumn>
                    <input pInputText type="number" placeholder="grantFraction"  [(ngModel)]="parameter.grantFraction" name="grantFraction" required>
                  </td>
                  <td><button type="button" pButton label="" class="p-button-danger p-button-rounded p-button-icon-only" icon="pi pi-times"
                              (click)="removeParameter(parameter)"></button></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </inc-magic-expander>

    <div class="p-d-flex p-jc-between">
      <span></span>
      <button pButton class="p-button" type="submit" [disabled]="!conditionForm.valid && !saving"
              label="{{editMode ? 'Save' : 'Create'}}" [icon]="saving ? 'pi pi-spin pi-spinner' : 'pi pi-save'">
      </button>
    </div>
  </form>
</p-card>
