<inc-animated-loading-card [loading]="loading" cardHeader="Vesting">
  <form #vestingForm="ngForm" (ngSubmit)="getVestingTable(vestingInput.data)">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-4">
        <label for="programId">Program</label>
        <p-dropdown [options]="groupedPrograms"
                    [(ngModel)]="selectedProgram" name="programId" optionLabel="name"
                    placeholder="Select a Program" [group]="grouped" (onChange)="programChanged()">
          <ng-template let-group pTemplate="group">
            <div class="p-d-flex p-ai-center">
              <i [class]="group.icon + ' p-mr-2'"></i>
              <span>{{group.label}}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="p-field p-col-4">
        <label for="periodicity">Periodicity</label>
        <p-dropdown [options]="periodicityEnum | keyvalue" required
                    [(ngModel)]="periodicity" name="periodicity" optionLabel="value" inputId="periodicity"
                    placeholder="Periodicity">
        </p-dropdown>
      </div>

      <div class="p-field p-col-4">
        <label for="businessDate">Business Date (filter)</label>
        <p-calendar [(ngModel)]="businessDate" name="businessDate" [showIcon]="true" inputId="businessDate"
                    dateFormat="dd/mm/yy" [yearRange]="yearService.getYearString()" placeholder="Select Business Date"
                    showButtonBar="true" [monthNavigator]="true" [yearNavigator]="true" required
                    tabindex="3"></p-calendar>
      </div>
    </div>

    <div id="step-two">
      <inc-vesting-input-table [program]="selectedProgram" [periodicity]="periodicity" #vestingInput></inc-vesting-input-table>
    </div>

    <div class="p-d-flex p-jc-between">
      <span></span>
      <button pButton class="p-button p-mt-3 p-mb-5" type="submit" [disabled]="!vestingForm.valid || fetching"
              label="Calculate" [icon]="fetching ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
              tabindex="7"></button>
    </div>
  </form>
  <inc-vesting-table [data]="vestingData" [reserveName]="reserveName"></inc-vesting-table>
</inc-animated-loading-card>
