<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-4"></div>
  <div class="p-field p-col-4">
    <p-blockUI [blocked]="loading" [target]="card"><p-progressSpinner></p-progressSpinner></p-blockUI>
    <p-card header="Reset Password:" #card>
      <form #form="ngForm" (submit)="resetPassword()">
        <div class="p-field p-mt-4">
          <span class="p-float-label label-sized">
            <input id="username" name="username" type="password" pInputText [(ngModel)]="password"
                   required autofocus/>
            <label for="username">Password</label>
          </span>
        </div>

        <div class="p-field p-mt-5 p-mb-3">
          <span class="p-float-label label-sized">
            <input id="password" name="password" type="password" pInputText [(ngModel)]="passwordRepeat"
                   required/>
            <label for="password">Password repeat</label>
          </span>
        </div>

        <a class="p-link" routerLink="/login">Log in instead</a>

        <button pButton type="submit" class="btn btn-primary p-mt-3" label="Save password" [disabled]="saving || !form.valid ||
            password !== passwordRepeat" [icon]="saving ? 'pi pi-spin pi-spinner' : 'pi'">
        </button>
      </form>
    </p-card>
  </div>
</div>
