<h1>Current Programs:</h1>
<p-treeTable [value]="programTreeNodes" [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Program ID</th>
      <th>Program Type</th>
      <th></th>
      <th></th>
      <th>Controls</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ngClass]="{'inc-subheader': rowData.type == 'header'}">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.col1}}</td>
      <td>{{rowData.col2}}</td>
      <td>{{rowData.col3}}</td>
      <td>{{rowData.col4}}</td>
      <td>
        <div *ngIf="!rowData.header && rowData.controls">
          <span class="mr-1">
            <button pButton type="button" class="p-button-raised p-button-rounded" (click)="editEntity(rowData)"
                    icon="pi pi-pencil"></button>
          </span>
          <span class="mr-1">
            <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-clone" (click)="copyEntity(rowData)"></button>
          </span>
          <span>
            <button pButton type="button" class="p-button-raised p-button-rounded ml-1" icon="pi pi-trash" (click)="deleteEntity(rowData)"></button>
          </span>
        </div>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
