<p-blockUI [blocked]="this.loading" [target]="card">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-card [header]="this.loading ? 'Loading ...' : this.editMode ? 'Edit Program' : 'New Program'" #card>
  <form class="form" (ngSubmit)="submitProgram(programForm)" #programForm="ngForm">
    <div class="p-fluid">
      <div class="p-field p-mt-4">
        <span class="p-float-label label-sized">
          <input id="programName" name="programName" type="text" pInputText [(ngModel)]="programService.currentProgram.name"
                 required [disabled]="editMode" (ngModelChange)="updateGrantProgramIds()"/>
          <label for="programName">Program name</label>
        </span>
      </div>

      <div class="p-field">
        <label>Program type</label>
        <div class="p-formgroup-inline">
          <div *ngFor="let enum of programTypeEnum | keyvalue" class="p-field-checkbox">
            <p-radioButton [inputId]="enum.key" name="programType" [value]="enum.value"
                           [(ngModel)]="programService.currentProgram.programType" required></p-radioButton>
            <label [for]="enum.key">{{enum.value}}</label>
          </div>
        </div>
      </div>
    </div>

    <inc-grant-table [showProgramId]="false" [(grants)]="programService.currentProgram.grants"
                     (delete)="deleteGrants($event)" (add)="showAddGrantDialog()"
                     (grantsChange)="copyGrant()" (edit)="showEditGrantDialog($event)">
    </inc-grant-table>

    <div class="p-d-flex p-jc-between">
      <span></span>
      <button pButton class="p-button" type="submit" [disabled]="!programForm.valid && !saving"
              label="{{editMode ? 'Save' : 'Create'}}" [icon]="saving ? 'pi pi-spin pi-spinner' : 'pi pi-save'">
      </button>
    </div>
  </form>
</p-card>
