<p-blockUI [blocked]="this.loading">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-card [header]="this.loading ? 'Loading ...' : this.editMode ? 'Edit Program' : 'New Program'">
  <form *ngIf="!this.loading" class="form" (ngSubmit)="submitProgram(programForm)" #programForm="ngForm">
    <div class="p-fluid">
      <div class="p-field p-mt-4">
        <span class="p-float-label label-sized">
          <input id="programmId" name="programmId" type="text" pInputText [(ngModel)]="programService.currentProgram.id"
                 required [disabled]="editMode" (ngModelChange)="updateGrantProgramIds()"/>
          <label for="programmId">Program ID</label>
        </span>
      </div>

      <div class="p-field">
        <label>Program type</label>
        <div class="p-formgroup-inline">
          <div *ngFor="let enum of programTypeEnum | keyvalue" class="p-field-checkbox">
            <p-radioButton [inputId]="enum.key" name="programType" [value]="enum.value"
                           [(ngModel)]="programService.currentProgram.programType"></p-radioButton>
            <label [for]="enum.key">{{enum.value}}</label>
          </div>
        </div>
      </div>
    </div>

    <p-table styleClass="p-mb-3" [value]="programService.currentProgram.grants" [(selection)]="selectedGrants"
             dataKey="id" [rowHover]="true"
             [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100]" [loading]="loading"
             [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0" [globalFilterFields]="['id', 'grantDate', 'waitUntil', 'endDate', 'quantity']"
             sortField="id" #dt>

      <ng-template pTemplate="caption">
        <div class="table-header">
          List of Grants
          <span>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-mr-3"
                    label="Delete selected" icon="pi pi-trash"
                    (click)="confirmDeleteSelection()"></button>
            <p-confirmPopup></p-confirmPopup>
            <button pButton type="button" class="p-button-raised p-button-rounded p-mr-3" label="Add Grant"
                    icon="pi pi-plus"
                    (click)="showAddGrantDialog()"></button>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                       placeholder="Global Search"/>
            </span>
          </span>
        </div>
      </ng-template>


      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="id">
            <div class="p-d-flex p-jc-between p-ai-center">
              ID
              <p-sortIcon field="id"></p-sortIcon>
              <p-columnFilter type="text" field="id" display="menu" class="p-ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="grantDate">
            <div class="p-d-flex p-jc-between p-ai-center">
              Grant Date
              <p-sortIcon field="grantDate"></p-sortIcon>
              <p-columnFilter type="date" field="grantDate" display="menu" class="p-ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="waitUntil">
            <div class="p-d-flex p-jc-between p-ai-center">
              Wait Until
              <p-sortIcon field="waitUntil"></p-sortIcon>
              <p-columnFilter type="date" field="waitUntil" display="menu" class="p-ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="endDate">
            <div class="p-d-flex p-jc-between p-ai-center">
              End Date
              <p-sortIcon field="endDate"></p-sortIcon>
              <p-columnFilter type="date" field="endDate" display="menu" class="p-ml-auto"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="quantity">
            <div class="p-d-flex p-jc-between p-ai-center">
              Quantiy
              <p-sortIcon field="quantity"></p-sortIcon>
              <p-columnFilter type="numeric" field="quantity" display="menu" class="p-ml-auto"></p-columnFilter>
            </div>
          </th>
          <th>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-grant>
        <tr class="p-selectable-row">
          <td>
            <p-tableCheckbox [value]="grant"></p-tableCheckbox>
          </td>
          <td>
            {{grant.id}}
          </td>
          <td>
            {{grant.grantDate | date: 'dd/MM/yyyy'}}
          </td>
          <td>
            {{grant.waitUntil | date: 'dd/MM/yyyy'}}
          </td>
          <td>
            {{grant.endDate | date: 'dd/MM/yyyy'}}
          </td>
          <td>
            {{grant.quantity}}
          </td>
          <td>
            <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-clone"
                    (click)="grantToCopy = grant; op.show($event)"></button>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-ml-1"
                    (click)="showEditGrantDialog(grant)"
                    icon="pi pi-pencil"></button>
            <p-confirmPopup [key]="grant.id"></p-confirmPopup>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-ml-1"
                    icon="pi pi-trash" (click)="confirmDeleteSingle($event, grant)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <button pButton class="p-button" type="submit" [disabled]="!programForm.valid && !saving"
            label="{{editMode ? 'Save' : 'Create'}}" [icon]="saving ? 'pi pi-spinner' : 'pi pi-save'">
    </button>
  </form>
</p-card>


<p-overlayPanel #op showCloseIcon=true>
  <ng-template pTemplate>
    <form #copyForm="ngForm" (ngSubmit)="copyGrant(copyForm, op)">
      <div class="p-mt-4"></div>
      <span class="p-float-label">
        <input id="copyId" name="copyId" type="text" pInputText ngModel required incUniqueGrantId>
        <label for="copyId">New Grant ID</label>
      </span>
      <button pButton type="submit" label="Copy" [disabled]="!copyForm.valid" iconPos="right"
              class="pull-right p-mt-2 p-mb-2">
      </button>
    </form>
  </ng-template>
</p-overlayPanel>
