<p-table styleClass="p-mb-3" [value]="programs" [(selection)]="selectedPrograms"
         dataKey="id" [rowHover]="true"
         [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100]"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0" [globalFilterFields]="['id', 'programType', 'grants.length']"
         sortField="id" #dt>

  <ng-template pTemplate="caption">
    <div class="table-header">
      <span></span>
      <span>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-mr-3"
                    label="Delete selected" icon="pi pi-trash"
                    (click)="confirmDelete($event, undefined)"></button>
            <p-confirmPopup key="deleteSelected"></p-confirmPopup>
            <button pButton type="button" class="p-button-raised p-button-rounded p-mr-3" label="Add Program"
                    icon="pi pi-plus"
                    (click)="add.emit()"></button>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                       placeholder="Global Search"/>
            </span>
          </span>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="4">
        No Programs found
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">
        <div class="p-d-flex p-jc-between p-ai-center">
          Name
          <p-sortIcon field="name"></p-sortIcon>
          <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="grantDate">
        <div class="p-d-flex p-jc-between p-ai-center">
          Program Type
          <p-sortIcon field="programType"></p-sortIcon>
          <p-columnFilter type="text" field="programType" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="waitUntil">
        <div class="p-d-flex p-jc-between p-ai-center">
          No. of Grants
          <p-sortIcon field="grants.length"></p-sortIcon>
          <p-columnFilter type="numeric" field="grants.length" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-program>
    <tr class="p-selectable-row">
      <td>
        <p-tableCheckbox [value]="program"></p-tableCheckbox>
      </td>
      <td>
        {{program.name}}
      </td>
      <td>
        {{program.programType}}
      </td>
      <td>
        {{program.grants.length}}
      </td>
      <td>
        <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-clone"
                (click)="op.show($event); programToCopy = program"></button>
        <button pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-ml-1"
                (click)="edit.emit(program)"
                icon="pi pi-pencil"></button>
        <p-confirmPopup [key]="program.id"></p-confirmPopup>
        <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-ml-1"
                icon="pi pi-trash" (click)="confirmDelete($event, program)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-overlayPanel #op showCloseIcon=true>
  <ng-template pTemplate>
    <form #copyForm="ngForm" (ngSubmit)="copyProgram(copyForm, op)" en>
      <div class="p-mt-4"></div>
      <span class="p-float-label">
        <input id="copyName" name="copyName" type="copyName" pInputText ngModel required incUniqueProgramId
               [existingPrograms]="programs" autofocus>
        <label for="copyName">New Program name</label>
      </span>
      <button pButton type="submit" label="Copy" [disabled]="!copyForm.valid" iconPos="right"
              class="pull-right p-mt-2 p-mb-2" style="width: 100px" [icon]="copying ? 'pi pi-spinner' : 'pi'">
      </button>
    </form>
  </ng-template>
</p-overlayPanel>
