<p-table styleClass="p-mb-3" [value]="companies" [(selection)]="selectedCompanies"
         dataKey="id" [rowHover]="true"
         [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100]"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0" [globalFilterFields]="['id', 'name', 'logo', 'grantLimit']"
         sortField="id" #dt [autoLayout]="true">

  <ng-template pTemplate="caption">
    <div class="table-header">
      <span></span>
      <span>
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger p-mr-3"
                    label="Delete selected" icon="pi pi-trash"
                    (click)="confirmDelete($event, undefined)" disabled></button>
            <p-confirmPopup key="deleteSelected"></p-confirmPopup>
            <button pButton type="button" class="p-button-raised p-button-rounded p-mr-3" label="Add Company"
                    icon="pi pi-plus"
                    (click)="add.emit()"></button>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                       placeholder="Global Search"/>
            </span>
          </span>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="7">
        No Companies found
      </td>
    </tr>
  </ng-template>


  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="id">
        <div class="p-d-flex p-jc-between p-ai-center">
          ID
          <p-sortIcon field="id"></p-sortIcon>
          <p-columnFilter type="numeric" field="id" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="name">
        <div class="p-d-flex p-jc-between p-ai-center">
          Name
          <p-sortIcon field="name"></p-sortIcon>
          <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="logo" style="width: 12rem">
        <div class="p-d-flex p-jc-between p-ai-center">
          Logo link
          <p-sortIcon field="logo"></p-sortIcon>
          <p-columnFilter type="text" field="logo" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="grantLimit">
        <div class="p-d-flex p-jc-between p-ai-center">
          Grant Limit
          <p-sortIcon field="grantLimit"></p-sortIcon>
          <p-columnFilter type="numeric" field="grantLimit" display="menu" class="p-ml-auto"></p-columnFilter>
        </div>
      </th>
      <th>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-company>
    <tr class="p-selectable-row">
      <td>
        <p-tableCheckbox [value]="company"></p-tableCheckbox>
      </td>
      <td >
        {{company.id}}
      </td>
      <td>
        {{company.name}}
      </td>
      <td>
        {{company.logo}}
      </td>
      <td>
        {{company.grantLimit}}
      </td>
      <td>
        <button pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-ml-1"
                (click)="edit.emit(company)"
                icon="pi pi-pencil"></button>
        <p-confirmPopup [key]="company.id.toString()"></p-confirmPopup>
        <button pButton disabled type="button" class="p-button-raised p-button-rounded p-button-danger p-ml-1"
                icon="pi pi-trash" (click)="confirmDelete($event, company)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
