<p-table [columns]="cols" [value]="data" [scrollable]="true" [style]="{width:'100%'}">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style]="{'width': (col.type === 'date' ? '150px' : '250px')}">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [colSpan]="col.type === 'date' ? 2 : 1">
        <span *ngIf="col.type === 'date'">{{col.header | date: 'dd/MM/yyyy'}}</span>
        <span *ngIf="col.type !== 'date'">{{col.header}}</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="3">
        No data Loaded
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [className]="rowData.grantName === 'Total' ? 'inc-subheader' : ''">
      <td>
        {{rowData['grantName']}}
      </td>
      <td>
        {{rowData['begin'] | date: 'dd/MM/yyyy'}}
      </td>
      <td>
        {{rowData['end'] | date: 'dd/MM/yyyy'}}
      </td>
      <ng-container *ngFor="let d of rowData['dates']; let i = index">
        <td>
          Debit: {{rowData['debit'][i] | number:'1.2-2'}}
        </td>
        <td>
          {{reserveName}}: {{rowData['credit'][i] | number:'1.2-2'}}
        </td>
      </ng-container>
    </tr>
  </ng-template>
</p-table>
