/* You can add global styles to this file, and also import other style files */
body {
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #495057;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem;
  /* font-family: inherit; */
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

.p-treetable .p-treetable-tbody > tr.inc-subheader {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #fcfcfd;
  transition: box-shadow 0.2s;
}

.pull-right{
  float: right;
}

p-menubar {
  width: 100%;

  .p-menubar {
    background: inherit;
    border: inherit;
  }
}

.layout-content {
  margin-top: 50px;
}

.p-float-label.label-sized .p-inputwrapper-focus ~ label, .p-float-label.label-sized .p-inputwrapper-filled ~ label,
.p-float-label.label-sized input:focus ~ label, .p-float-label.label-sized input.p-filled ~ label {
  left: 0;
  color: inherit;
  top: -1.3rem;
    font-size: 1rem;
  font-weight: normal;
}
.p-inputgroup .p-float-label > label {
    left: 3rem;
}

.overflowable-dialog .p-dialog-content {
  overflow: visible;
}
.p-inputgroup p-calendar {
  width: 100%;
}
.p-dialog-mask {
  overflow: scroll;
}
.p-picklist.nopickers {
  .p-picklist-buttons {
    display: none;
  }
  .p-picklist-source-wrapper {
    margin-right: 10px;
  }
  .p-picklist-target-wrapper {
    margin-right: 10px;
  }
}
.p-picklist.height200 ul {
  height: 200px;
}
