<p-treeTable [value]="programsWithValuations" [rowHover]="true"
             [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100]"
             [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0" [globalFilterFields]="['col1', 'col2', 'col3', 'col4', 'col5', 'col6']" #tt
             [autoLayout]="true">

  <ng-template pTemplate="caption">
    <div class="table-header">
      <span></span>
      <span>
        <button pButton type="button" class="p-button-raised p-button-rounded p-mr-3" label="Add Valuation"
                icon="pi pi-plus"
                (click)="add.emit()"></button>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="tt.filterGlobal($event.target.value, 'contains')"
                 placeholder="Global Search"/>
        </span>
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="7">
        No valuation data found
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>
        Program name
      </th>
      <th>
        Program type
      </th>
      <th>
        No. of Grants
      </th>
      <th>
        Latest valuation
      </th>
      <th>
        Latest valuated date
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ngClass]="{'inc-subheader': rowData.type == 'header'}">
      <td *ngIf="rowData.type === 'valuation'">
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.col1 | date: 'YYYY/MM/dd HH:mm'}} (took: {{rowData.processTime}})
      </td>
      <td *ngIf="rowData.type !== 'valuation'">
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.col1}}
      </td>
      <td>{{rowData.col2}}</td>
      <td>{{rowData.col3}}</td>
      <td *ngIf="rowData.type === 'program'">{{rowData.col4 | date: 'YYYY/MM/dd HH:mm'}}</td>
      <td *ngIf="rowData.type !== 'program'">{{rowData.col4}}</td>
      <td *ngIf="rowData.type === 'program'">{{rowData.col5 | date: 'YYYY/MM/dd'}}</td>
      <td *ngIf="rowData.type !== 'program'">{{rowData.col5}}</td>
      <td>
        <div *ngIf="rowData.type === 'valuationHeader'">{{rowData.col6}}</div>
        <div *ngIf="rowData.type === 'valuation'">
          <div *ngIf="rowData.progress < 0">
            <p style="color: #cd5c5c">Failed</p>
          </div>
          <p-progressBar *ngIf="rowData.progress >= 0  && rowData.pv === null" [value]="rowData.progress" [showValue]="false"></p-progressBar>
          <div *ngIf="rowData.pv !== null">
            {{rowData.pv | currency:'EUR':'symbol'}}
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="!rowData.header && rowData.type === 'valuation' && rowData.pv !== null">
          <button pButton type="button" class="p-button-raised p-button-rounded p-button-warning p-ml-1"
                  (click)="view.emit(rowData.valuationId)"
                  icon="pi pi-search"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
